pipeline/Pipeline Dynamic Staging CSS Custom Production.json
{
	"name": "Pipeline Dynamic Staging CSS Custom Production",
	"properties": {
		"description": "Get Data By Year",
		"activities": [
			{
				"name": "Lookup Source Tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Add Log Get Source Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * \nFROM [vw_Configuration.SourceTables]\nORDER BY [Order]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SourceTables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Staging",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Add Log Number of Processes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Source Tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Staging File to SQL Destination",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "If Staging File not Exists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBatchTimeout": "03:00:00"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Staging",
									"type": "DatasetReference",
									"parameters": {
										"FileNameStaging": {
											"value": "@item().FileNameStaging",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Destination",
									"type": "DatasetReference",
									"parameters": {
										"TableNameDestination": {
											"value": "@item().TableNameDestination",
											"type": "Expression"
										},
										"TableSchemaDestination": {
											"value": "@item().TableSchemaDestination",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored Procedure Add Process Details",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Staging File to SQL Destination",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_AddProcessDetails]",
								"storedProcedureParameters": {
									"DurationFirstCopy": {
										"value": {
											"value": "@if(item().IsStagingFileExists ,0,activity('Oracle Source to Staging File').output.copyDuration)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"DurationSecondCopy": {
										"value": {
											"value": "@activity('Staging File to SQL Destination').output.copyDuration",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StartFrom": {
										"value": {
											"value": "@concat(variables('Year'),'-01-01')",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"TableNameDestination": {
										"value": {
											"value": "@item().TableNameDestination",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessGUID": {
										"value": {
											"value": "@item().ProcessGUID",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableNameSource": {
										"value": {
											"value": "@item().TableNameSource",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "EWA_Staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "If Destination Table not Exist",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Add Log Is Destination Table Exists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Lookup Is Destination Table Exists').output.firstRow.Flag,0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Get Max Year From Destination",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderStoredProcedureName": "[dbo].[sp_GetTableMaxYear]",
												"storedProcedureParameters": {
													"tablename": {
														"type": "String",
														"value": {
															"value": "@item().TableNameDestination",
															"type": "Expression"
														}
													}
												},
												"queryTimeout": "02:00:00"
											},
											"dataset": {
												"referenceName": "GetMaxDate",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "Set Year",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Get Max Year From Destination",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "Year",
											"value": {
												"value": "@if(equals(coalesce(activity('Get Max Year From Destination').output.firstRow.MaxYear,0),0),'2007',string(add(activity('Get Max Year From Destination').output.firstRow.MaxYear,1)))",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Add Log Max Year in Destination",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Set Year",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_AddLog]",
											"storedProcedureParameters": {
												"Log": {
													"value": {
														"value": "@concat('Max Year in Destination ',variables('Year') )",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineRunID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"ProcessGUID": {
													"value": {
														"value": "@item().ProcessGUID",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "EWA_Staging",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy From Table Source Schema",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"oracleReaderQuery": {
													"value": "@concat('SELECT TABLE_NAME,COLUMN_NAME,DATA_TYPE,DATA_LENGTH,NULLABLE,COLUMN_ID\nFROM all_tab_cols\nwhere  VIRTUAL_COLUMN =''NO'' AND table_name = ''',item().TableNameSource,''';')",
													"type": "Expression"
												},
												"partitionOption": "None",
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "TableSourceSchemaProduction",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "Staging",
												"type": "DatasetReference",
												"parameters": {
													"FileNameStaging": {
														"value": "@concat('SchemaSourceTable-',item().TableNameSource)",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Copy From Table Source Schema To Destination",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Copy From Table Source Schema",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "SqlServerSink"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "Staging",
												"type": "DatasetReference",
												"parameters": {
													"FileNameStaging": {
														"value": "@concat('SchemaSourceTable-',item().TableNameSource)",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "TableSourceSchemaDestination",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "Generate Destination Table",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy From Table Source Schema To Destination",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_GenerateDestinationTable]",
											"storedProcedureParameters": {
												"TableNameDestination": {
													"value": {
														"value": "@item().TableNameDestination",
														"type": "Expression"
													},
													"type": "String"
												},
												"TableNameSource": {
													"value": {
														"value": "@item().TableNameSource",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "EWA_Staging",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Add Log Table Created",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Generate Destination Table",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_AddLog]",
											"storedProcedureParameters": {
												"Log": {
													"value": {
														"value": "@concat('Destination Table ',item().TableNameSource, ' Created')",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineRunID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"ProcessGUID": {
													"value": {
														"value": "@item().ProcessGUID",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "EWA_Staging",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Get Min Year",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"oracleReaderQuery": {
													"value": "@concat('SELECT EXTRACT(YEAR FROM MIN(F_ACTUAL)) MinYear\nFROM ',item().TableSchemaSource,'.',item().TableNameSource)",
													"type": "Expression"
												},
												"partitionOption": "None",
												"queryTimeout": "02:00:00"
											},
											"dataset": {
												"referenceName": "SourceProduction",
												"type": "DatasetReference",
												"parameters": {
													"TableNameSource": "item().TableNameSource",
													"TableSchemaSource": "item().TableSchemaSource"
												}
											}
										}
									},
									{
										"name": "Set Min Year",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Get Min Year",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "Year",
											"value": {
												"value": "@string(activity('Get Min Year').output.firstRow.MinYear)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Add Log Min Year",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Set Min Year",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_AddLog]",
											"storedProcedureParameters": {
												"Log": {
													"value": {
														"value": "@concat('Min Year ',variables('Year') )",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineRunID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"ProcessGUID": {
													"value": {
														"value": "@item().ProcessGUID",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "EWA_Staging",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "Lookup Is Destination Table Exists",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Add Log Start Copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderStoredProcedureName": "[dbo].[sp_IsTableExists]",
									"storedProcedureParameters": {
										"TableNameDestination": {
											"type": "String",
											"value": {
												"value": "@item().TableNameDestination",
												"type": "Expression"
											}
										},
										"TableNameSource": {
											"type": "String",
											"value": {
												"value": "@item().TableNameSource",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "IsDestinationTableExists",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Add Log Start Copy",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_AddLog]",
								"storedProcedureParameters": {
									"Log": {
										"value": {
											"value": "@concat('------- Start Copy Data from ',item().TableNameSource, ' to ', item().TableNameDestination,' -------')",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessGUID": {
										"value": {
											"value": "@item().ProcessGUID",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "EWA_Staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Add Log Is Destination Table Exists",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Lookup Is Destination Table Exists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_AddLog]",
								"storedProcedureParameters": {
									"Log": {
										"value": {
											"value": "@if(equals(activity('Lookup Is Destination Table Exists').output.firstRow.Flag,1),'Destination Table is Exist','Destination Table is not Exist')",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessGUID": {
										"value": {
											"value": "@item().ProcessGUID",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "EWA_Staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Add Log End Copy",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "If Is Staging File Exists - Update",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_AddLog]",
								"storedProcedureParameters": {
									"Log": {
										"value": {
											"value": "@concat('End Copy Data from ',item().TableNameSource, ' to ', item().TableNameDestination)",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessGUID": {
										"value": {
											"value": "@item().ProcessGUID",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "EWA_Staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "If Staging File not Exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Add Log Is Staging File Exists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(item().IsStagingFileExists)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Add Log Use Existing Staging File",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_AddLog]",
											"storedProcedureParameters": {
												"Log": {
													"value": {
														"value": "Use Existing Staging File",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineRunID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"ProcessGUID": {
													"value": {
														"value": "@item().ProcessGUID",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "EWA_Staging",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Oracle Source to Staging File",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Add Query",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"oracleReaderQuery": {
													"value": "@variables('SourceQuery')",
													"type": "Expression"
												},
												"partitionOption": "None",
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "SourceProduction",
												"type": "DatasetReference",
												"parameters": {
													"TableNameSource": "item().TableNameSource",
													"TableSchemaSource": "item().TableSchemaSource"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Staging",
												"type": "DatasetReference",
												"parameters": {
													"FileNameStaging": {
														"value": "@item().FileNameStaging",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Add Query",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Source Query",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_AddQuery]",
											"storedProcedureParameters": {
												"PipelineRunID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"ProcessGUID": {
													"value": {
														"value": "@item().ProcessGUID",
														"type": "Expression"
													},
													"type": "String"
												},
												"Query": {
													"value": {
														"value": "@variables('SourceQuery')",
														"type": "Expression"
													},
													"type": "String"
												},
												"IsDestinationTableExists": {
													"value": {
														"value": "@activity('Lookup Is Destination Table Exists').output.firstRow.Flag",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "EWA_Staging",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Source Query",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Add Log Creating Staging File",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "SourceQuery",
											"value": {
												"value": "@concat('SELECT * FROM ',item().TableSchemaSource,'.',item().TableNameSource,' WHERE EXTRACT(YEAR FROM F_ACTUAL)\n=',variables('Year') )",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Add Log Staging File Created",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Oracle Source to Staging File",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_AddLog]",
											"storedProcedureParameters": {
												"Log": {
													"value": {
														"value": "@concat('Staging File ',item().FileNameStaging, ' Created')",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineRunID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"ProcessGUID": {
													"value": {
														"value": "@item().ProcessGUID",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "EWA_Staging",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Add Log Creating Staging File",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_AddLog]",
											"storedProcedureParameters": {
												"Log": {
													"value": {
														"value": "Creating Staging File",
														"type": "Expression"
													},
													"type": "String"
												},
												"PipelineRunID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"ProcessGUID": {
													"value": {
														"value": "@item().ProcessGUID",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "EWA_Staging",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "Add Log Is Staging File Exists",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "If Destination Table not Exist",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_AddLog]",
								"storedProcedureParameters": {
									"Log": {
										"value": {
											"value": "@if(item().IsStagingFileExists,'Staging File is Exist','Staging File is not Exist')",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessGUID": {
										"value": {
											"value": "@item().ProcessGUID",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "EWA_Staging",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "If Is Staging File Exists - Update",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Stored Procedure Add Process Details",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().IsStagingFileExists,1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Update Is Staging File Exists Column",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[sp_UpdateIsStagingFileExists]",
											"storedProcedureParameters": {
												"PipelineRunID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"ProcessGUID": {
													"value": {
														"value": "@item().ProcessGUID",
														"type": "Expression"
													},
													"type": "String"
												},
												"TableNameDestination": {
													"value": {
														"value": "@item().TableNameDestination",
														"type": "Expression"
													},
													"type": "String"
												},
												"TableNameSource": {
													"value": {
														"value": "@item().TableNameSource",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "EWA_Staging",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Add Log Start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_AddLog]",
					"storedProcedureParameters": {
						"Log": {
							"value": {
								"value": "=======> Pipeline Custom Started <=======",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessGUID": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "EWA_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Add Log End",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "For Each Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_AddLog]",
					"storedProcedureParameters": {
						"Log": {
							"value": {
								"value": "=======> Pipeline Custom Ended <=======",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessGUID": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "EWA_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Add Log Get Source Tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Add Log Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_AddLog]",
					"storedProcedureParameters": {
						"Log": {
							"value": {
								"value": "Get Source Tables",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessGUID": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "EWA_Staging",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Add Log Number of Processes",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup Source Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_AddLog]",
					"storedProcedureParameters": {
						"Log": {
							"value": {
								"value": "@concat('Number of Processes: ',activity('Lookup Source Tables').output.count)",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessGUID": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "EWA_Staging",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"SourceQuery": {
				"type": "String"
			},
			"Year": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Production"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}